@import url(./reset.css);

:root {
--bg: #000000;
--shadow: #0E0E0E;
--white: #FFFFFF;
--accent: #FFCB8E;
--second: #FFBC0F;
}

/* ===================================================== */

body {
    font-family: 'Inter';
font-weight: 400;
font-size: 20px;
line-height: 1.5;
color: var(--white);
background-color: var(--bg);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===================================================== */

.container {
    max-width: 470px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-family: 'Literata';
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 0.15em;
    text-align: center;
}

.second-title {
    font-family: 'Literata';
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.15em;
}

/* -----------------------------HEADER----------------------------- */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header-bottom {
    display: none;
}

.header-box {
display: flex;
flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
}


.header-logo {
    font-family: 'Literata';
    
    font-size: 16px;
    letter-spacing: 0.15em;
    color: var(--accent);
}

.header-tel {
    font-family: 'Literata';
font-size: 16px;
letter-spacing: 0.15em;

transition: transform, color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent);
    transform: scale(1.1);
}

.header-search {
    display: none;
}

.icon-menu {
    display: inline-block;
    flex: 0 0 30px;
    height: 18px;
    width: 40px;
    position: relative;

    color: var(--white);
}

.close-menu {
    display: inline-block;
    flex: 0 0 30px;
    height: 18px;
    width: 40px;
    position: relative;

    color: var(--white);
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after,
.close-menu span,
.close-menu::before,
.close-menu::after{
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;

    background-color: var(--white);
    transition: all 0.3s ease 0s;
}

.icon-menu::before {
    top: 0;
}

.icon-menu::after{
    bottom: 0;
}

.icon-menu span {
    top: calc(50% - 1px);
}

.close-menu span {
     width: 0;
}

.close-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
}

.close-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
}

.close-menu {
    margin-bottom: 20px;
}

.mob-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px 50px;

    background-color: var(--bg);
    transition: all 0.3s ease 0s;
}

.link-list-mob {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;

    background-color: var(--bg);
}

.mob-nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mob-nav-item {
    font-family: 'Literata';
font-size: 25px;
letter-spacing: 0.15em;

color: var(--accent);
}

.mob-link-list {
    display: flex;
    gap: 35px;
}

.mob-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    background-color: var(--shadow);
    border-radius: 50%;
}

.mob-icon {
    fill: var(--white)
}

/* -----------------------------HERO----------------------------- */
.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-nav {
    display: none;
}

.hero {
    padding-top: 77px;
    padding-bottom: 163px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/background/background-img-1-mob@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/background/background-img-1-mob@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
    .hero {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/background/background-img-1-mob@3x.jpg);
    }
  }


.hero-form {
    display: flex;
    gap: 4px;
    margin-bottom: 67px;
}

.hero-form input {
    width: 203px;

    background-color: transparent;
    border-bottom: 1px solid var(--white);
}

.hero-form input::placeholder {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.15em;
    color: var(--white);
}

.button-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-search {
    fill: var(--white);
}

.hero-title {
    margin-bottom: 20px;

    font-family: 'Literata';
font-weight: 500;
letter-spacing: 0.15em;
text-align: center;
}

.hero-title span {
    color: var(--accent);
}

.hero-text {
    max-width: 341px;
    margin-bottom: 485px;

    font-family: 'Literata';
font-size: 16px;
letter-spacing: 0.15em;
text-align: center;
}

.hero-btn-list {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.hero-btn {
    min-width: 245px;
    padding: 14px 0;

    font-family: 'Literata';
font-weight: 700;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.15em;

color: var(--accent);
background-color: transparent;
border: 1px solid #FFCB8E;
}

/* -----------------------------BRANDS----------------------------- */

.brands {
    padding-top: 80px;
    padding-bottom: 100px;
}

.brands-title {
    margin-bottom: 20px;
}

.brands-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.brands-item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: transform, color, opacity 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.brands-img img {
    transition: transform 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.brands-img {
    transition: opacity 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.brands-link-title {
    transition: background-color, color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.brands-item:hover .brands-img img,
.brands-item:focus .brands-img img {
    transform: scale(1.1);
}

.brands-item:hover .brands-img,
.brands-item:focus .brands-img {
    opacity: 1;
}

.brands-item:hover .brands-link-title,
.brands-item:focus .brands-link-title {
    background-color: transparent;
    color: var(--white);
}

/* -----------------------------CATEGORIES----------------------------- */

.categories {
    padding-top: 153px;
    padding-bottom: 152px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/background/bg-img-2-mob@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .categories {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/background/bg-img-2-mob@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
    .categories {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/background/bg-img-2-mob@3x.jpg);
    }
  }

  .categories-btn-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .categories-btn {
    width: 245px;
    padding: 14px 0;

    font-family: 'Literata';;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.15em;

    background-color: var(--accent);
    color: var(--bg);
    border: 1px solid var(--accent);

    transition: background-color, color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .categories-btn:hover,
  .categories-btn:focus {
    background-color: var(--bg);
    color: var(--accent);
  }

  /* -----------------------------TOP SELLING----------------------------- */

  .selling {
    padding: 100px 0;
  }

  .selling-title {
    margin-bottom: 80px;
  }

  .goods-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;
  }

  .goods-item {
    display: flex;
    flex-direction: column;

    background-color: var(--shadow);

    transition: border 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .goods-img img {
    width: 210px;
    height: 251px;
    margin-bottom: 12px;
  }

  .goods-title {
    margin-bottom: 4px;

    font-family: 'Literata';
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.15em;

    color: var(--accent);
  }

  .goods-name {
    margin-bottom: 31px;

    font-family: 'Literata';
    font-size: 13px;
    line-height: 1.46;
    text-align: center;
    letter-spacing: 0.15em;
  }

  .goods-price {
    margin-bottom: 8px;

    font-family: 'Literata';
    font-size: 13px;
    line-height: 1.46;
    text-align: center;
    letter-spacing: 0.15em;

    color: var(--accent);
  }

  .goods-item:hover,
  .goods-item:focus {
    border: 2px solid var(--accent);
  }



/* ==============================DESKTOP============================== */

@media screen and (min-width: 1268px) {
    .container {
       max-width: 1268px;
       padding: 0 15px;
    }

    .title {
        font-size: 64px;
    }

    .second-title {
        font-size: 24px;
    }

    /* -----------------------------HEADER----------------------------- */



   .header{
    background-color: var(--bg);
   }

    .header-logo {
        font-weight: 500;
        font-size: 24px;
    }

    .header-tel {
        font-size: 20px;
    }

    .header-search {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        font-family: 'Literata';
        font-size: 20px;
        line-height: 0.9;
        letter-spacing: 0.15em;

        transition: color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    .header-search:hover,
    .header-search:focus {
        color: var(--accent);
    }

    .icon-search {
        fill: var(--white);
        transition: fill 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    .header-search:hover .icon-search,
    .header-search:focus .icon-search {
        fill: var(--accent);
    }

    .header-bottom {
        display: flex;
        justify-content: center;
        background-color: var(--bg);
    }

    .icon-menu {
        display: none;
    }

    /* -----------------------------HERO----------------------------- */

    .hero {
        padding-top: 92px;
        padding-bottom: 294px;

        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/background/backgroung-img-1@1x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/background/background-img-1@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
    .hero {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/background/background-img-1@3x.jpg);
    }
  }

    .hero-form,
    .btn-hidden {
        display: none;
    }

    .header-nav {
        display: flex;
        justify-content: center;
        margin-bottom: 259px;

        background-color: var(--bg);
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .nav-item {
        font-family: 'Literata';
        font-size: 20px;
        letter-spacing: 0.15em;

        transition: color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    .nav-item:hover,
    .nav-item:focus {
        color: var(--accent);
    }

    .hero-title { 
        margin-bottom: 37px;

        font-weight: 800;
        font-size: 36px;
    }

    .hero-text {
        max-width: 497px;
        margin-bottom: 137px;

        font-weight: 600;
        font-size: 24px;
    }

    .hero-btn {
        padding: 22px 51px;

        font-size: 24px;

        transition: color, background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    .hero-btn:hover,
    .hero-btn:focus {
        color: var(--bg);
        background-color: var(--accent);
    }

    /* -----------------------------BRANDS----------------------------- */

    .brands {
        padding-top: 150px;
        padding-bottom: 200px;
    }

    .brands-title {
        margin-bottom: 100px;
    }

    .brands-img {
        opacity: 0.7;
    }

    .brands-link-title {
        padding-top: 7px;
        padding-bottom: 7px;

        background-color: var(--accent);
        color: var(--bg);
    }

    /* -----------------------------CATEGORIES----------------------------- */

    .categories {
        padding-top: 500px;
        padding-bottom: 500px;

        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/background/bg-img-2-desktop@1x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url(../img/background/bg-img-2-desktop@2x.jpg);
        }
      }
    
      @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
        .hero {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url(../img/background/bg-img-2-desktop@3x.jpg);
        }
      }

      .categories-btn {
        width: 316px;
        padding: 22px 0;
    
        font-size: 24px;
      }

      /* -----------------------------TOP SELLING----------------------------- */

      .selling {
        padding: 200px 0;
      }

      .selling-title {
        margin-bottom: 100px;
      }

      .goods-item {
        background-color: transparent;
        border: 2px solid transparent;
      }

      .goods-img img {
        width: 386px;
        height: 434px;
        margin-bottom: 28px;
      }

      .goods-list {
        gap: 50px 30px;
      }

      .goods-title {
        margin-bottom: 8px;
    
        font-size: 20px;
      }
    
      .goods-name {
        margin-bottom: 20px;
    
        font-size: 20px;
        line-height: 1.5;
      }
    
      .goods-price {
        margin-bottom: 10px;
    
        font-size: 16px;
        line-height: 1.5;
      }
    

}